@inherits LayoutComponentBase

<main>
	@Body
</main>

<footer>
	Если есть информация о других местах или заметили неточность - пишите в телеграмм
	<a href="https://t.me/NerveFalcon">
		<TelegramIcon/> @@NerveFalcon
	</a>
</footer>