@page "/"

<PageTitle>Сравнение цен на залы сампо</PageTitle>
<h1>Сравнение цен на залы для самостоятельной подготовки</h1>

<table class="table align-middle table-bordered">
	<thead>
	<tr>
		<td></td>
		<th>
			За человека
		</th>
		<th>
			За зал
		</th>
		<th>
			Адрес
		</th>
		<th>
			Контакты
		</th>
	</tr>
	</thead>
	<tbody>

	@* Дом WCS *@
	<tr>
		<th>Дом WCS</th>
		<td>
			350₽ в сутки
			<br/>
			Абонемент 2200₽ в месяц
		</td>
		<td>
			До 17:00 - 1000₽ за час
			<br/>
			После 17:00 - 2000₽ за час
			<br/>
			Всё помещение - 3500₽ за час
		</td>
		<td>
			Каменноостровский проспект, 10 лит Б,
			<Metro Title="Горьковская" Color="blue" Minutes="5"/>
		</td>
		<td>
			<a target="_blank" href="https://t.me/domwcs" >
				<TelegramIcon/>
			</a>
			<br/>
			<a target="_blank" href="https://vk.com/club233653942">
				<VkIcon/>
			</a>
		</td>
	</tr>

	@* Rock'n'Roll Jockers *@
	<tr>
		<th>Rock'n'Roll Jockers</th>
		<td>
			200₽ в час
		</td>
		<td>
			Нет информации
		</td>
		<td>
			Набережная канала Грибоедова, 92,
			<br/>
			<Metro Title="Садовая" Color="violet"/>
			/
			<Metro Title="Спасская" Color="orange"/>
			/
			<Metro Title="Сенная площадь" Color="blue"/>
			(10 мин)
		</td>
		<td>
			<a target="_blank" href="https://www.rockandroll.ru">Сайт</a>
			<br/>
			<a target="_blank" href="https://t.me/rock_n_roll_jokers">
				<TelegramIcon/>
			</a>
			<br/>
			<a target="_blank" href="https://vk.com/rrj_boogie_lindy">
				<VkIcon/>
			</a>
		</td>
	</tr>

	@* Non-stop *@
	<tr>
		<th>Non-stop</th>
		<td>Отсутствует</td>
		<td>
			<img height="500px"
			     src="https://90f1661d-2ff4-4f29-b07c-0e47453ca691.selstorage.ru/site720452/d1a27d09-0058-4407-a40c-e28281784bce/d1a27d09-0058-4407-a40c-e28281784bce-15532299.png"/>
		</td>
		<td>
			<ol>
				<li>
					пр. Добролюбова 21,
					<Metro Title="Спортивная" Color="violet" Minutes="5"/>
				</li>
				<li>
					ул. 6-я Красноармейская д. 24,
					<br/>
					<Metro Title="Технологический институт" Color="blue" Minutes="12"/>
					<Metro Title="Балтийская" Color="red" Minutes="13"/>
				</li>
				<li>
					Измайловский проспект, 2 (наб. реки Фонтанки, 120),
					<br/>
					<Metro Title="Технологический институт" Color="blue" Minutes="12"/>
					<Metro Title="Садовая" Color="violet" Minutes="14"/>
				</li>
			</ol>
		</td>
		<td>
			<a target="_blank" href="https://non-stop.spb.ru">Сайт</a>
			<br/>
			<a target="_blank" href="https://vk.com/non_stop_spb_ru">
				<VkIcon/>
			</a>
		</td>
	</tr>

	@* Dance formation *@
	<tr>
		<th>Dance formation</th>
		<td>Нет информации</td>
		<td>
			<img height="500px"
			     src="https://optim.tildacdn.com/tild3463-3266-4235-b432-633962656533/-/resize/287x/-/format/webp/photo_2026-01-11_23-.jpg.webp"/>
		</td>
		<td>
			Казанская улица, д. 7В,
			<br/>
			<Metro Title="Невский проспект" Color="blue" Minutes="7"/>
			<br/>
			<Metro Title="Адмиралтейская" Color="violet" Minutes="12"/>
			<br/>
			<Metro Title="Сенная плолщадь" Color="blue" Minutes="12"/>
		</td>
		<td>
			<a target="_blank" href="https://danceformation.ru/rentdf">Сайт</a>
			<br/>
			<a target="_blank" href="https://vk.com/df_rent">
				<VkIcon/>
			</a>
		</td>
	</tr>
	</tbody>
</table>